In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

KeyboardInterrupt:

In [2]:
scaler = StandardScaler()

# X = data_final
# y = scaler.fit_transform(Y)

##### New data testing

In [3]:
train_df = pd.read_csv('../data/training_for_regmodel_65k.csv')

In [4]:
df = train_df.drop(columns='target_class')

In [5]:
# df = df.drop(columns=['total_gallons:mean_fuel', 'total_gallons:sum_fuel'])

In [6]:
df.head()

,crs_elapsed_time,speed_passengers,mean_passengers,sum_passengers,total_cost:mean_fuel,total_cost:sum_fuel,total_gallons:mean_fuel,total_gallons:sum_fuel,year_2018,year_2019,...,crs_arr_hours_22,crs_arr_hours_23,crs_arr_hours_3,crs_arr_hours_4,crs_arr_hours_5,crs_arr_hours_6,crs_arr_hours_7,crs_arr_hours_8,crs_arr_hours_9,target
0,66.0,0.321053,5.0,79895,598183733.4,2.990919e+09,303232966.2,1.516165e+09,0,1,...,0,0,0,0,0,1,0,0,0,4.0
1,293.0,0.218119,5.0,79895,598183733.4,2.990919e+09,303232966.2,1.516165e+09,0,1,...,0,0,0,0,0,0,0,0,0,10.0
2,72.0,0.321053,5.0,79895,598183733.4,2.990919e+09,303232966.2,1.516165e+09,0,1,...,0,0,0,0,0,0,1,0,0,2.0
3,123.0,0.290223,5.0,22455,8618120.0,4.309060e+07,5318166.6,2.659083e+07,0,1,...,0,0,0,0,0,0,0,0,0,11.0
4,182.0,0.188597,5.0,22455,8618120.0,4.309060e+07,5318166.6,2.659083e+07,0,1,...,0,0,0,0,0,0,0,0,0,85.0

In [7]:
df.columns

Index(['crs_elapsed_time', 'speed_passengers', 'mean_passengers',
       'sum_passengers', 'total_cost:mean_fuel', 'total_cost:sum_fuel',
       'total_gallons:mean_fuel', 'total_gallons:sum_fuel', 'year_2018',
       'year_2019',
       ...
       'crs_arr_hours_22', 'crs_arr_hours_23', 'crs_arr_hours_3',
       'crs_arr_hours_4', 'crs_arr_hours_5', 'crs_arr_hours_6',
       'crs_arr_hours_7', 'crs_arr_hours_8', 'crs_arr_hours_9', 'target'],
      dtype='object', length=851)

In [8]:
numerical = ['crs_elapsed_time', 'speed_passengers','mean_passengers','total_gallons:mean_fuel', 
'total_gallons:sum_fuel', 'total_cost:mean_fuel',  'total_cost:sum_fuel',
       'sum_passengers']

for x in numerical:
    df[x] = scaler.fit_transform(np.array(df[x]).reshape(-1, 1))

In [9]:
for x in numerical:
    df[x] = scaler.fit_transform(np.array(df[x]).reshape(-1, 1))

In [10]:
df.head()

,crs_elapsed_time,speed_passengers,mean_passengers,sum_passengers,total_cost:mean_fuel,total_cost:sum_fuel,total_gallons:mean_fuel,total_gallons:sum_fuel,year_2018,year_2019,...,crs_arr_hours_22,crs_arr_hours_23,crs_arr_hours_3,crs_arr_hours_4,crs_arr_hours_5,crs_arr_hours_6,crs_arr_hours_7,crs_arr_hours_8,crs_arr_hours_9,target
0,-1.012367,0.060848,-0.462252,0.285169,1.555819,1.666249,1.379134,1.48488,0,1,...,0,0,0,0,0,1,0,0,0,4.0
1,2.147127,-0.072626,-0.462252,0.285169,1.555819,1.666249,1.379134,1.48488,0,1,...,0,0,0,0,0,0,0,0,0,10.0
2,-0.928856,0.060848,-0.462252,0.285169,1.555819,1.666249,1.379134,1.48488,0,1,...,0,0,0,0,0,0,1,0,0,2.0
3,-0.219014,0.020871,-0.462252,-0.756871,-1.033433,-1.017326,-1.024945,-1.00949,0,1,...,0,0,0,0,0,0,0,0,0,11.0
4,0.602176,-0.110906,-0.462252,-0.756871,-1.033433,-1.017326,-1.024945,-1.00949,0,1,...,0,0,0,0,0,0,0,0,0,85.0

In [11]:
X = df.drop(columns=['target'])
y = scaler.fit_transform(np.array(df['target']).reshape(-1, 1))

In [12]:
from sklearn.decomposition import PCA 

pca = PCA(n_components=800)

X_pca = pca.fit_transform(X)

In [13]:
X_pca.shape

(65083, 800)

#### Regession model testing

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_pca, y, train_size=0.8, random_state=0)

Linear Regression

In [15]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

# lr = LinearRegression().fit(X_train,y_train)


# y_pred = lr.predict(X_test)

# print(f"train_r2 = {lr.score(X_train,y_train)}")
# print(f"test_r2 = {r2_score(y_test,y_pred)}")
# print(f"MSE = {mean_squared_error(y_test, y_pred)}")
# print(f"RMSE = {np.sqrt(mean_squared_error(y_test, y_pred))}")
# print(f"MAE = {mean_absolute_error(y_test, y_pred)}")

DT Regression

In [16]:
# from sklearn.tree import DecisionTreeRegressor

# DT = DecisionTreeRegressor(random_state = 0).fit(X_train,y_train)

# y_pred = DT.predict(X_test)

# print(f"train_r2 = {DT.score(X_train,y_train)}")
# print(f"test_r2 = {r2_score(y_test,y_pred)}")
# print(f"MSE = {mean_squared_error(y_test, y_pred)}")
# print(f"RMSE = {np.sqrt(mean_squared_error(y_test, y_pred))}")
# print(f"MAE = {mean_absolute_error(y_test, y_pred)}")

RFR

In [17]:
# from sklearn.ensemble import RandomForestRegressor

# rfr = RandomForestRegressor().fit(X_train,y_train)
# y_pred = rfr.predict(X_test)

# print(f"train_r2 = {rfr.score(X_train,y_train)}")
# print(f"test_r2 = {r2_score(y_test,y_pred)}")
# print(f"MSE = {mean_squared_error(y_test, y_pred)}")
# print(f"RMSE = {np.sqrt(mean_squared_error(y_test, y_pred))}")
# print(f"MAE = {mean_absolute_error(y_test, y_pred)}")

XGB

In [18]:
from xgboost import XGBRegressor

xgbr = XGBRegressor(eta=0.05, gamma=1, 
                max_depth=4, subsample=0.8,
                alpha=0.9)


xgbr.fit(X_train,y_train)
y_pred = xgbr.predict(X_test)

print(f"train_r2 = {xgbr.score(X_train,y_train)}")
print(f"test_r2 = {r2_score(y_test,y_pred)}")
print(f"MSE = {mean_squared_error(y_test, y_pred)}")
print(f"RMSE = {np.sqrt(mean_squared_error(y_test, y_pred))}")
print(f"MAE = {mean_absolute_error(y_test, y_pred)}")

/Users/siyumao/opt/anaconda3/lib/python3.9/site-packages/xgboost/compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

train_r2 = 0.1095746745956997
test_r2 = 0.016091140160741313
MSE = 0.9431264913109637
RMSE = 0.971146997787134
MAE = 0.5104533614232257

In [19]:
y_pred.shape

(13017,)

#### Testing model

In [20]:
testing = pd.read_csv('../data/testing_data1.csv')
testing.head()

,crs_elapsed_time,speed_passengers,mean_passengers,sum_passengers,total_cost:mean_fuel,total_cost:sum_fuel,total_gallons:mean_fuel,total_gallons:sum_fuel,year_2020,month_1,...,crs_arr_hours_22,crs_arr_hours_23,crs_arr_hours_24,crs_arr_hours_3,crs_arr_hours_4,crs_arr_hours_5,crs_arr_hours_6,crs_arr_hours_7,crs_arr_hours_8,crs_arr_hours_9
0,95,0.173843,1.0,15744.0,296682409.0,1.483412e+09,157934010.0,789670050.0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,90,0.173843,1.0,15744.0,296682409.0,1.483412e+09,157934010.0,789670050.0,1,1,...,0,0,0,0,0,0,0,0,0,0
2,70,0.177136,1.0,15744.0,296682409.0,1.483412e+09,157934010.0,789670050.0,1,1,...,0,0,0,0,0,0,0,0,0,0
3,75,0.177136,1.0,15744.0,296682409.0,1.483412e+09,157934010.0,789670050.0,1,1,...,0,0,0,0,0,0,0,0,0,0
4,80,0.177136,1.0,15744.0,296682409.0,1.483412e+09,157934010.0,789670050.0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [21]:
numerical = ['crs_elapsed_time', 'speed_passengers','mean_passengers','total_gallons:mean_fuel', 
'total_gallons:sum_fuel', 'total_cost:mean_fuel',  'total_cost:sum_fuel',
       'sum_passengers']

for x in numerical:
    testing[x] = scaler.fit_transform(np.array(testing[x]).reshape(-1, 1))

In [22]:
testing.head()

,crs_elapsed_time,speed_passengers,mean_passengers,sum_passengers,total_cost:mean_fuel,total_cost:sum_fuel,total_gallons:mean_fuel,total_gallons:sum_fuel,year_2020,month_1,...,crs_arr_hours_22,crs_arr_hours_23,crs_arr_hours_24,crs_arr_hours_3,crs_arr_hours_4,crs_arr_hours_5,crs_arr_hours_6,crs_arr_hours_7,crs_arr_hours_8,crs_arr_hours_9
0,-0.641589,-0.470177,0.0,0.907604,0.428887,0.428999,0.3621,0.362234,1,1,...,0,0,0,0,0,0,0,0,0,0
1,-0.711450,-0.470177,0.0,0.907604,0.428887,0.428999,0.3621,0.362234,1,1,...,0,0,0,0,0,0,0,0,0,0
2,-0.990895,-0.457334,0.0,0.907604,0.428887,0.428999,0.3621,0.362234,1,1,...,0,0,0,0,0,0,0,0,0,0
3,-0.921034,-0.457334,0.0,0.907604,0.428887,0.428999,0.3621,0.362234,1,1,...,0,0,0,0,0,0,0,0,0,0
4,-0.851173,-0.457334,0.0,0.907604,0.428887,0.428999,0.3621,0.362234,1,1,...,0,0,0,0,0,0,0,0,0,0

In [23]:
testing.shape

(660556, 831)

In [24]:
test_pca = pca.fit_transform(testing)

In [25]:
test_pca.shape

(660556, 800)

In [26]:
from xgboost import XGBRegressor

xgbr = XGBRegressor(eta=0.05, gamma=1, 
                max_depth=4, subsample=0.8,
                alpha=0.9)


xgbr.fit(X_train,y_train)
prediction = xgbr.predict(test_pca)

In [27]:
prediction.shape

(660556,)

In [28]:
submission = pd.read_csv('../data/submission.csv')
submission.head()

      fl_date mkt_carrier  mkt_carrier_fl_num origin dest
0  2020-01-01          WN                5888    ONT  SFO
1  2020-01-01          WN                6276    ONT  SFO
2  2020-01-01          WN                4598    ONT  SJC
3  2020-01-01          WN                4761    ONT  SJC
4  2020-01-01          WN                5162    ONT  SJC

In [32]:
submission['predicted_delay'] = prediction

In [35]:
submission.to_csv('Final_submission.csv')

In [29]:
# from sklearn.svm import SVR

# svr = SVR().fit(X_train, y_train)
# y_pred = svr.predict(X_test)

# print(f"train_r2 = {svr.score(X_train,y_train)}")
# print(f"r2 = {r2_score(y_test,y_pred)}")
# print(f"MSE = {mean_squared_error(y_test, y_pred)}")
# print(f"RMSE = {np.sqrt(mean_squared_error(y_test, y_pred))}")
# print(f"MAE = {mean_absolute_error(y_test, y_pred)}")

In [30]:
import gc
collected = gc.collect()
print("Garbage collector: collected", 
          "%d objects." % collected)

Garbage collector: collected 76 objects.